{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ResetPassword
{% endblock %}

{% block content %}
<div style="color:dimgray; text-align:left;" class="container">
        <div class="container-fluid">
            <div class="row">
              <h1>Forgot Password</h1>
            </div>
        </div>
    </div>
        <div style="color:dimgray;" class="col-xs-4 forgot-form">
            <p>Please enter your username and email address below</p>
                <label for="label">New Password</label> 
                <input type="text" class = "form-control" placeholder="ABC123"><br>
                <label for="label">Confirm New Password</label> 
                <input type="text" class = "form-control" placeholder="ABC123"><br><br>
            <div>
                <a class="btn btn-primary" href="/#" role="button">Send Link</a>
            </div>

         </div>        

{% endblock %}