body{
    background-color: black;
  
}
h1{
    color: black;
    font-family: Arial;
    font-size: 40px;
}
div.size{
  font-size: 25px
  font-family: Arial;   
}
div#demo{
  color: white;
}
