<!doctype html>
<html>
<head>
        <meta charset="UTF-8">
        <title>Add Events</title>
        <h1>Welcome {{ name }}</h1>
</head>
<body>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=ZGFuaWVsdHJhbjE1MEBnbWFpbC5jb20&amp;src=ZmFtaWx5MTA4NTc1MDQ1Mzg4MjA3NDgzOTdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23336699&amp;color=%235A9A08&amp;color=%23336699" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <div style="background-color:lightblue">
            <form action="" method="post">
                Event Title: <input type="text" event="event"><br>
                Date: <input type="number" name="day" value ="1" step="0.5" min="1" max="31">
                    <select name="month">
                        {% for month in months %}
                        <option name="month">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="year">
                        <option selected="selected" name="year">2019</option>
                        <option name="year">2020</option>
                    </select><br>

                <textarea cols="30" name="eventDetails" rows="5"></textarea>
                <label>
                    <input name="terms" type="checkbox" value=""/>Set Alarm
                </label><br/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <br>
        <strong>Submit and Share Event</strong><br>
        <div style="background-color:yellow">
            Username: <input type="text" event="sharingToUsername">
            <input type="submit" value="Submit"/>
        </div>
</body>
</html>


