{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Homepage</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="addevents">Calendar</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="upcoming" class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Upcoming Events
          <span class="badge badge-light">(Get Number of Upcoming Events)</span>
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Event 1</a></li>
        <li><a href="#">Event 2</a></li>
        <li><a href="#">Event 3</a></li>
      </ul>
    </div>
{% endblock %}