{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ForgotPassword
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='forgotpassword.css')}}">
{% endblock %}

{% block content %}
<div style="color:dimgray; text-align:center;" class="container">
        <div class="container-fluid">
            <div class="row">
              <h1>Forgot Password</h1>
            </div>
        </div>
    </div>
        <div style="color:dimgray; text-align:center;" class="col-sm-6 offset-sm-3 forgot-form">
            <p>Please enter your email address below and we will send you information to change your password.</p>
                <label for="label">Email Address</label> 
                <input type="text" class = "form-control" placeholder="yourname@example.com"><br><br>
            <div>
                <a class="btn btn-primary" href="/#" role="button">Send Link</a>
            </div>

         </div>        

{% endblock %}