{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
ForgotPassword
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='forgotpassword.css')}}">
{% endblock %}

{% block content %}
<div style="color:dimgray; text-align:left;" class="container">
        <div class="container-fluid">
            <div class="row">
              <h1>Forgot Password</h1>
            </div>
        </div>
    </div>
        <div style="color:dimgray;" class="col-xs-4 forgot-form">
            <p>Please enter your username and email address below</p>
                <label for="label">Username</label> 
                <input type="text" class = "form-control" placeholder="Username"><br>
                <label for="label">Email Address</label> 
                <input type="text" class = "form-control" placeholder="yourname@example.com"><br><br>
            <div>
                <a href="/securityquestion" class="btn btn-primary" >Submit</button>
            </div>

         </div>        

{% endblock %}