{% extends "bootstrap/base.html" %}

{% block title %}
All-in-One Agenda
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-font">All-In-One Agenda</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-font">
            <li class="active"><a href="">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--NAVBAR CODE-->

    <!--ABOUT CODE-->
    <div class="welcome-page-header">
        <h1>Welcome to <strong>your</strong> All-In-One Agenda</h1>
        <p class="lead"><em>"Simple Simply Simplified"</em></p>
    </div>

    <div class="containerWelcome">
        <div class="welcome-page">
            <h4><strong>About</strong></h4>
            <p>The All-In-One Agenda is a program built to simplify and ease your life. This website is a scheduling/calendar
                program that lets you create tasks, add events, set alarms, schedule events, and plan your life out. Our goal
                was to simplify your life, and what better way to simplify your life than to have a simple, easy-to-use
                web application. Our application's goal was to be simplify life and fundamentally be simple for everyone.</p>

            <br>

            <strong>About Us</strong>
            <p>This website was made by Team 11 of Professor Rojas' class (Section 50075). The team members consist of
                Saeed Baqalaql, Antonio Magana, Anthony Nguyen, and Daniel Tran.</p>
        </div>

        <div class="welcome-page">
            <h3>What can the All-In-One Agenda do for you?</h3>
            <ul>
                <li>Your own personalized calendar!</li>
                <ul>
                    <li>Add your events to the calendar</li>
                    <li>Alerts you about near and upcoming events</li>
                    <li>Share events with other users</li>
                </ul>
                <li>Remind you about important events or tasks!</li>
                <li>Give you resources to helpful websites for school help!</li>
            </ul>
        </div>
    </div>

    <div class="container" style="justify-content: center">
        <img src="">
    </div>
    <!--ABOUT CODE-->
{% endblock %}
