<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
    <form>
        Add Event<br><br>
        <span style="color: blue; "><strong>Name of Event</strong></span><br>
        <input type="text" name="event_name"><br>
        Time<br>
        <input type="month" name="time">
        Set Alarm<input type="checkbox" name="Visited" value="Visited"><br>
        Details<br>
        <input type="text" id="myText" value="Some text...">
        <br><br><br>
        <input type="submit" value="Submit"><br>
        <br><br>
        <a href="https://www.google.com/">Edit Events</a><br>
        <br><br><br>
        <span style="color: orange; "><strong>Share Events</strong></span><br><br>
        Username<br>
        <input type="text" name="event_name"><br>
        <br><br><br>
        <input type="submit" value="Submit"><br>
    </form>
</body>
</html>